div[class="ivm-view-attr__img-wrapper ivm-view-attr__img-wrapper--use-img-tag display-flex"] {
  display: none;
}

nav[aria-label="Primary Navigation"] {
  display: none;
}

div[class="pv-profile-sticky-header-v2__container pv1"] {
  display: none;
}

div[id="ember61"] {
  display: none;
}

div[id="pv-profile-pymk__container artdeco-card"] {
  display: none;
}

div[class="pv-profile-pymk__container artdeco-card"] {
  display: none;
}

div[class="msg-overlay-list-bubble"] {
  display: none;
}

section[class="pt5 ph5"] {
  display: none;
}

div[class="pt4 ph4"] {
  display: none;
}

footer[class="artdeco-card__actions"] {
  display: none;
}

section[class="pv-course-recommendations artdeco-card"] {
  display: none;
}

section[class="artdeco-card ember-view p0 mb4 mv2"] {
  display: none;
}

header[class="msg-overlay-bubble-header"] {
  display: none;
}

aside[id="msg-overlay"] {
  display: none;
}

section[class="artdeco-card ember-view mb2 mt0 pvs-loader__profile-card pvs-loader__profile-card--ad"] {
  display: none;
}

div[class="pvs-loader__shimmer pvs-loader__shimmer--fill-area"] {
  display: none;
}

section[class="artdeco-card ember-view mb2"] {
  display: none;
}

div[class="pv-profile-sticky-header-v2__container pv1"] {
  display: none;
}


div[class="mb2"] {
  display: none;
}

ul[class="global-footer-compact__content global-footer-compact__links"] {
  display: none;
}

div[class="global-footer-compact__content t-12 t-normal text-align-center clear-both"] {
  display: none;
}

div[class="scaffold-finite-scroll__content"] {
  display: none;
}

button[class="artdeco-button artdeco-button--secondary mv5 t-14 t-black t-normal"] {
  display: none;
}

div[class="mb2 artdeco-dropdown artdeco-dropdown--placement-bottom artdeco-dropdown--justification-right ember-view"] {
  display: none;
}